/* 签到 */
#dialogBg {
	width:100%;
	height:100%;
	background-color:#000;
	opacity:.8;filter:alpha(opacity=60);
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	display:none;
}

#dialog { 
	width: 7.66rem;
	height: 7.02rem; 
	margin: 0 auto; 
	display: none; 
	/* background-color: #ffffff;  */
	background-image: url(../img/bg01.png);
	background-size: 100% 100%;
	/* margin: 2.63rem auto 0 auto; */
	position: absolute;
	top: 2.63rem;
	left: 1.17rem; 
	/* position: fixed; 
	top:  50%; 
	left: 50%; 
	margin: -3.51rem 0 0 -3.83rem;  */
	z-index: 10000; 
	border-radius: 0.08rem; 
	-webkit-border-radius: 0.08rem; 
	box-shadow: 3px 2px 4px rgba(0,0,0,0.2); 
	-webkit-box-shadow: 3px 2px 4px rgba(0,0,0,0.2); 
}

// .bg01 {
// 	background-image: url(../img/bg01.png);
// 	background-size: 100% 100%;
// }

// .bg02 {
// 	background-image: url(../img/bg02.png);
// 	background-size: 100% 100%;
// }

.dialogTitle {
	width: 6.9rem;
	height: 1.56rem;
	position: absolute;
	top: -0.83rem;
	left: 0.38rem;
}

.closeIco {
	width: 0.53rem;
	height: 0.53rem;
	position: absolute;
	top: -0.85rem;
	right: 0;
}

.dialogBtn {
	width: 1.56rem;
	height: 0.64rem;
	line-height: 0.64rem;
	position: absolute;
	left: 3.05rem;
	bottom: 0.93rem;
	background-color: #fefefe;
	border: none;
	border-radius: 0.08rem;
	color: #e7900c;
	font-size: 0.45rem;
	font-weight: bolder;
}

.success {
	display: inline-block;
	width: 100%;
	height: 2rem;
	line-height: 1rem;
	font-size: 0.64rem;
	color: #484848;
	text-align: center;
	position: absolute;
	top: 2rem;
	display: none;
}

/* 动画 */
.animated{
	-webkit-animation-duration:1.4s;
	animation-duration:1.4s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both
}

@-webkit-keyframes bounceIn{
	0%{
	opacity:0;
	-webkit-transform:scale(.3);
	transform:scale(.3)
}
50%{
	opacity:1;
	-webkit-transform:scale(1.05);
	transform:scale(1.05)
}
70%{
	-webkit-transform:scale(.9);
	transform:scale(.9)
}
100%{
	opacity:1;
	-webkit-transform:scale(1);
	transform:scale(1)
}

}
@keyframes bounceIn{
	0%{
	opacity:0;
	-webkit-transform:scale(.3);
	-ms-transform:scale(.3);
	transform:scale(.3)
}
50%{
	opacity:1;
	-webkit-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05)
}
70%{
	-webkit-transform:scale(.9);
	-ms-transform:scale(.9);
	transform:scale(.9)
}
100%{
	opacity:1;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1)
}

}
.bounceIn{
	-webkit-animation-name:bounceIn;
	animation-name:bounceIn
}




@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

@keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}